// Beginning of the pug document
html
    // Head of the document
    head
        // Title of the document
        title Hello World
    // Body of the document
    body
        // h1 tag in pug
        h1 Hello World
